{% extends "../Inmobiliaria.html" %}
{% load static %}
<!--link rel="stylesheet" href="{%static 'css/bootstrap.min.css'%}"-->

{% block contenido %}
<img width="1365" height="300" src=" https://www.nocnok.com/hubfs/Proceso-venta%20%281%29.jpg" class="attachment-full size-full" alt="" loading="lazy">
<h1>PROPIEDADES</h1>
<h4>Lista de Propiedades</h4>
{% for propiedad in propiedades %}


<li> 
    {{ propiedad }} 
    <a href="/AppProyectoFinalTolisanoPascaretta/update_propiedades/{{propiedad.id}}" class="btn btn-warning">Editar</a>
    <a href="/AppProyectoFinalTolisanoPascaretta/delete_propiedades/{{propiedad.id}}" class="btn btn-danger">Borrar</a>
</li>

<br>

{% endfor %}

<a class="btn btn-success" href="/AppProyectoFinalTolisanoPascaretta/create_propiedades">+ Agregar Propiedad</a>
{% endblock %}
