
{% extends "home.html" %}

{% load static %}
<link rel="stylesheet" href="{% static 'css/mystilo.css'%}">
{% block contenido %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acerca de Nosotros..</title>
</head>
<body>
    <h1>Acerca de nosotros..</h1>

    <h2>Matias Pascaretta y Aldana Tolisano</h2>

    <h3>El equipo:
        Somos dos compañeros del curso de Python en Coderhouse, ambos dedicados a otro rubro, pero iniciando nuestros primeros
        pasos en el mundo de la programación.
        Nuestra web esta orientada a una pagina donde se pueda compartir contenido del rubro inmobiliario y a su vez que 
        los integrantes de la empresa puedan contar con un CRM de gestion. 

    </h3>




</body>
</html>

{% endblock %}