
{% extends "Inmobiliaria.html" %}

{% load static %}
<link rel="stylesheet" href="{% static 'css/mystilo.css'%}">
{% block contenido %}
<br>
<br>

    <p><h3>Ingreso de nuevo Inquilino</h3></p>
    <div class="contenidoInquilinos">
        <form class="formDataInquilinos" action="/AppProyectoFinalTolisanoPascaretta/Inquilinos/" method="POST"> {% csrf_token %}
            <input type="text" name="nombrecompleto" placeholder="nombre completo">
            <input type="number" name="dni" placeholder="dni">
            <input type="number" name="telefono" placeholder="telefono">
            <input type="email" name="email" placeholder="email">
            <button type="submit" class="btn btn-primary btndj">Registrar</button>
        </form>
    </div>
    <div>
        <p><h3>Busqueda de Inquilino</h3></p>
        <form class="formDataPropietarios" action="/AppProyectoFinalTolisanoPascaretta/buscar_Inquilinos/" method="GET">
            <input type="number" name="dni" placeholder="numero de dni">
            <button type="submit" class="btn btn-primary btndj">Buscar</button>
        </form>
    </div>
    <div>
        {% if Inquilinos %}
        <ul>
            {% for n in Inquilinos %}
            <li>{{n.nombrecompleto}}</li>
            <li>{{n.dni}}</li>
            <li>{{n.telefono}}</li>
            <li>{{n.email}}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
{% endblock %}
