
{% load static %}

{% block contenido %}
    <p>Ingreso de nueva Propiedad</p>
    <div class="contenidoPropiedades">
        <form class="formDataPropiedades" action="/AppProyectoFinalTolisanoPascaretta/Propiedades/" method="POST"> {% csrf_token %}
            <input type="string" name="domicilio" placeholder="Dirección">
            <button type="submit" class="btn btn-primary btndj">Registrar</button>
        </form>
    </div>
    <div>
        <p>Busqueda de Propiedad</p>
        <form class="formDataPropietarios" action="/AppProyectoFinalTolisanoPascaretta/buscar_Propiedades/" method="GET">
            <input type="string" name="domicilio" placeholder="Ingrese domicilio">
            <button type="submit" class="btn btn-primary btndj">Buscar</button>
        </form>
    </div>
    <div>
        {% if Propiedades %}
        <ul>
            {% for n in Propiedades %}
            <li>{{n.domicilio}}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
{% endblock %}
