.contenido1{
    position: absolute;
    top: 300px;
    border: 10px solid red;
}

.contenidoPropietarios{

    display: flex;
    justify-content: left;
    align-items: left;
    padding: 50x;
    font-size: 100%;
    top: 400px;
}
.formDataPropietarios{
    display: flex;
    width: 1000px;
    gap: 20px;
    background-color: rgb(120, 122, 124);
    border-radius: 5px;
    border-color:rgb(93, 99, 106);
    padding: 100px;
    color: rgb(237, 69, 69);

}
.contenidoInquilinos{
    display: flex;
    justify-content: left;
    align-items: left;
    padding: 50x;
    font-size: 100%;
    top: 400px;
            
}
.formDataInquilinos{
    display: flex;
    width: 1000px;
    gap: 20px;
    background-color: rgb(120, 122, 124);
    border-radius: 5px;
    border-color:rgb(93, 99, 106);
    padding: 100px;
    color: rgb(237, 69, 69);

}
.contenidoPropiedades{

    display: flex;
    justify-content: left;
    align-items: left;
    padding: 50x;
    font-size: 100%;
    top: 400px;
}
.formDataPropiedades{
    display: flex;
    width: 1000px;
    gap: 20px;
    background-color: rgb(120, 122, 124);
    border-radius: 5px;
    border-color:rgb(93, 99, 106);
    padding: 100px;
    color: rgb(237, 69, 69);

}

.btndj{
    border-radius: 100px !important;
}
button {
    background-color: #f2b140; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

